body {
  margin: 40px;
}

.sidebar {
        grid-area: sidebar;
    }

    .content {
        grid-area: content;
    }

    .header {
        grid-area: header;
    }

    .footer {
        grid-area: footer;
    }


    .wrapper {
        display: grid;
    grid-gap: 10px;
        grid-template-columns: 140px 240px 120px;
        grid-template-areas:
    "....... header header"
        "sidebar content content"
        "footer  footer  footer";
        background-color: rgb(255, 255, 255);
        color: #444;
    }


.box {
  background-color: gray;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
}

.header,
.footer {
  background-color: grey;
}

a:hover {
  background-color: white;
}

p{
  background-color: white;
}

.dairy {
  background-color: lightyellow;
}

.meat {
  background-color: lightcoral;
}

.veggies {
  background-color: lightgreen;
}

.bread {
  background-color: white;
}